.mid-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: ghostwhite;
  align-items: center;
  margin-bottom: 20px;
}

.inline-block-container {
  display: inline-block;
}

.v-top {
  vertical-align: top
}

.w-full {
  width: 100% !important;
}

.m-10 {
  margin: 10px;
}

.flex-end {
  margin-left: auto !important;
}

.self-center {
  align-self: center !important;
  margin: auto;
}

.content-center {
  align-content: center !important;

  alignment: center;
}